.watchScreen {
  width: 100vw;
  height: 100vh;
  position: relative;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    font-weight: 500;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    z-index: 99;
    filter: opacity(0);
    transition: filter 0.5s ease;

    .icon {
      margin-right: 2px;
    }
  }

  &:hover {
    .back {
      filter: opacity(100);
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
